PORT=5050
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=afghanpower
PGUSER=afghanpower
PGPASSWORD=CHANGE_ME
# Alternative single connection string:
# DATABASE_URL=postgres://afghanpower:CHANGE_ME@127.0.0.1:5432/afghanpower
